.next-enter {
  transform: translateX(100%);
  opacity: 1;
}

.next-enter-active {
  transform: translateX(0);
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms ease-in;
}

.next-exit {
  transform: translateX(0);
  transform: translateY(0);
  opacity: 1;
}

.next-exit-active {
  transform: translateX(-30%);
  transform: translateZ(-50%);
  opacity: 0.95;
  transition: transform 300ms linear;
}

.prev-enter {
  transform: translateX(-30%);
  opacity: 0.95;
}

.prev-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.prev-exit {
  transform: translateX(0);
}

.prev-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.up-enter {
  transform: translateY(100%);
}
.up-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.up-exit {
  transform: translateY(0);
}
.up-exit-active {
  transform: translateY(0%);
  transition: transform 300ms ease-in-out;
}

.down-enter {
  transform: translateY(0%);
}
.down-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.down-exit {
  transform: translateY(0);
}
.down-exit-active {
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
}
